[submodule "data-collection/repos/toyrepo-r4"]
	path = data-collection/repos/toyrepo-r4
	url = git@github.com:jan-gerling/toyrepo-r4.git
[submodule "data-collection/repos/toyrepo-r1"]
	path = data-collection/repos/toyrepo-r1
	url = git@github.com:jan-gerling/toyrepo-r1.git
[submodule "data-collection/repos/toyrepo-r2"]
	path = data-collection/repos/toyrepo-r2
	url = git@github.com:jan-gerling/toyrepo-r2.git
[submodule "data-collection/repos/toyrepo-r3"]
	path = data-collection/repos/toyrepo-r3
	url = git@github.com:jan-gerling/toyrepo-r3.git
[submodule "data-collection/repos/toyrepo-r5"]
	path = data-collection/repos/toyrepo-r5
	url = git@github.com:jan-gerling/toyrepo-r5.git
