.settings

*.iml
.idea/
.DS_Store
/target/
.classpath
.project
~          
*/repos/
*/logs*/
data-collection/storage/

.DS_Store
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
pyvenv.cfg
.venv
pip-selfcheck.json
