<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="Console_ERROR" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="ERROR"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n" />
        </layout>
    </appender>

    <appender name="Console_INFO" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n" />
        </layout>
    </appender>

    <appender name="FileAppender_ERROR" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="./logs_test/data-collection_ERROR.log"/>
        <param name="threshold" value="ERROR"/>
        <param name="maxFileSize" value="10MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n" />
        </layout>
    </appender>


    <logger name="com.github.mauricioaniche">
        <appender-ref ref="Console_ERROR"/>
    </logger>

    <logger name="org.hibernate">
        <appender-ref ref="Console_ERROR"/>
    </logger>

    <logger name="org.refactoringminer">
        <appender-ref ref="Console_ERROR"/>
    </logger>

    <logger name="refactoringml">
        <appender-ref ref="Console_INFO"/>
        <appender-ref ref="FileAppender_ERROR"/>
    </logger>
</log4j:configuration>