<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="exceptions">false</Property>
        <Property name="fileSize">20 MB</Property>
        <Property name="filePath">./logs/data-collection_test</Property>
        <Property name="workerName">test</Property>
        <Property name="pattern">${workerName} %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <Console name="Console_INFO" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <RollingFile
                name="RollingFile_ERROR"
                fileName="${filePath}_ERROR.log"
                filePattern="${filePath}_ERROR.log.%i"
                ignoreExceptions="${exceptions}">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${fileSize}"/>
            </Policies>
        </RollingFile>

        <RollingFile
                name="RollingFile_DEBUG"
                fileName="${filePath}_DEBUG.log"
                filePattern="${filePath}_DEBUG.log.%i"
                ignoreExceptions="${exceptions}">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${fileSize}"/>
            </Policies>
        </RollingFile>

        <RollingFile
                name="RollingFile_INFO"
                fileName="${filePath}_INFO.log"
                filePattern="${filePath}_INFO.log.%i"
                ignoreExceptions="${exceptions}">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${fileSize}"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="refactoringml" level="debug" additivity="false">
            <AppenderRef ref="RollingFile_INFO"/>
            <AppenderRef ref="RollingFile_DEBUG"/>
            <AppenderRef ref="RollingFile_ERROR"/>
            <AppenderRef ref="Console" level="info"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile_ERROR"/>
        </Root>
    </Loggers>
</Configuration>