<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n"/>
        </Console>

        <Console name="Console_INFO" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n"/>
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <RollingFile
                name="RollingFile_ERROR"
                fileName="./logs/data-collection_ERROR.txt"
                filePattern="./logs/data_collection_ERROR.txt.%i"
                ignoreExceptions="false">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile
                name="RollingFile_DEBUG"
                fileName="./logs/data-collection_DEBUG.txt"
                filePattern="./logs/data_collection_DEBUG.txt.%i"
                ignoreExceptions="false">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile
                name="RollingFile_INFO"
                fileName="./logs/data-collection_INFO.txt"
                filePattern="./logs/data_collection_INFO.txt.%i"
                ignoreExceptions="false">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="refactoringml" level="debug" additivity="false">
            <AppenderRef ref="RollingFile_INFO"/>
            <AppenderRef ref="RollingFile_DEBUG"/>
            <AppenderRef ref="RollingFile_ERROR"/>
            <AppenderRef ref="Console_INFO"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile_ERROR"/>
        </Root>
    </Loggers>
</Configuration>
